In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

import matplotlib.pyplot as plt
# Configure gmaps
import gmaps.datasets

# Import the API key.
from config import g_key

In [3]:
g_key

'AIzaSyCwv1gSZt2j_od8gUrNREoK31h8cUDrY_A'

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather Data/cities.csv")
city_data_df.head()
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.to make sure that we do not have -ve temperatures.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure(center = (30.0,31.0), zoom_level=0.9)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]

fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the min temperature you would like for your trip? "))
max_temp = float(input("What is the max temperature you would like for your trip? "))

What is the min temperature you would like for your trip? 75
What is the max temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                     (city_data_df["Max Temp"] >= min_temp)]
preferred_city_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2021-06-11 20:39:12,-0.6000,73.0833,83.57,74,65,10.92
1,1,Sinnamary,GF,2021-06-11 20:37:53,5.3833,-52.9500,77.65,85,100,4.16
3,3,Atuona,PF,2021-06-11 20:36:53,-9.8000,-139.0333,78.98,76,40,17.34
5,5,Madingou,CG,2021-06-11 20:39:14,-4.1536,13.5500,77.23,74,63,3.98
9,9,Bartica,GY,2021-06-11 20:39:16,6.4000,-58.6167,81.41,73,75,4.70
...,...,...,...,...,...,...,...,...,...,...
536,536,Sabang,ID,2021-06-11 20:43:05,5.8933,95.3214,83.23,75,98,17.83
539,539,Cap Malheureux,MU,2021-06-11 20:43:06,-19.9842,57.6142,75.69,70,97,10.00
546,546,Jalu,LY,2021-06-11 20:43:09,29.0331,21.5482,76.62,39,0,14.88
547,547,Ishigaki,JP,2021-06-11 20:39:03,24.3448,124.1572,82.74,82,78,14.12
550,550,Merauke,ID,2021-06-11 20:43:11,-8.4667,140.3333,77.90,89,96,12.41

In [33]:
# create a heat map for the preferred cities
locations = preferred_city_df[["Lat","Lng"]]
max_temp = preferred_city_df["Max Temp"]

fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp, dissipating=False,max_intensity=300,point_radius=4)                   
fig.add_layer(heat_layer)                   
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_city_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] =""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0     Hithadhoo      MV     83.57  -0.6000   73.0833
1     Sinnamary      GF     77.65   5.3833  -52.9500
3        Atuona      PF     78.98  -9.8000 -139.0333
5      Madingou      CG     77.23  -4.1536   13.5500
9       Bartica      GY     81.41   6.4000  -58.6167
11        Tabou      CI     77.43   4.4230   -7.3528
15       Kupang      ID     75.67 -10.1667  123.5833
17  Grand Gaube      MU     75.60 -20.0064   57.6608
18       Ocampo      MX     80.28  21.6500 -101.5000
19   Butaritari      KI     81.93   3.0707  172.7902

In [39]:
# Set parameters to search for a hotel.
params = { "radius":5000,
            "type": "lodging",
            "key": g_key}
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#iterate through the hotels df
for index,row in hotel_df.iterrows():
    #get the longitude and latitude
    lat = row["Lat"]
    lng = row["Lng"]
    #Add the latitude and longitude to the location key for the params dictionary
    params["location"]=f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    hotels = requests.get(url,params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found .. Skipping")
        continue

Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping
Hotel not found .. Skipping

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hithadhoo,MV,83.57,-0.6000,73.0833,Scoop Guest House
1,Sinnamary,GF,77.65,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
3,Atuona,PF,78.98,-9.8000,-139.0333,Villa Enata
5,Madingou,CG,77.23,-4.1536,13.5500,HOTEL KIM ELISA
9,Bartica,GY,81.41,6.4000,-58.6167,Relax Inn Hotel
11,Tabou,CI,77.43,4.4230,-7.3528,hotêl doufoulougou
15,Kupang,ID,75.67,-10.1667,123.5833,Hotel On The Rock by Prasanthi
17,Grand Gaube,MU,75.60,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
18,Ocampo,MX,80.28,21.6500,-101.5000,Hotel Estancia del Vaquero
19,Butaritari,KI,81.93,3.0707,172.7902,Isles Sunset Lodge

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]

In [45]:
# Add a heat map for the vacation spots

locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,max_temp, dissipating=False,max_intensity=300,point_radius=4)

#marker for each city - where markers are lat,lng
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))